body {
    background-color: #111;
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 30px;
}

a {
    color: #4da3ff;
}

input, select, button {
    padding: 5px;
    margin-top: 5px;
}

li {
    margin-bottom: 15px;
}
