{% extends "base.html" %}

{% block title %}All Tasks{% endblock %}

{% block content %}
<h2>All Tasks</h2>

<h3>Sort by:</h3>

<form method="get" class="mb-3">
    <button type="submit" name="sort" value="date"
            class="btn btn-outline-primary btn-sm {% if sort == 'date' %}active{% endif %}">
        Date
    </button>

    <button type="submit" name="sort" value="subject"
            class="btn btn-outline-primary btn-sm {% if sort == 'subject' %}active{% endif %}">
        Subject
    </button>

    <button type="submit" name="sort" value="status"
        class="btn btn-outline-primary btn-sm {% if sort == 'status' %}active{% endif %}">
        Status
    </button>
</form>

<a href="{{ url_for('add_task') }}" class="btn btn-success mb-3">➕ Add New Task</a>

{% if tasks %}
<table class="table table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Subject</th>
            <th>Description</th>
            <th>Due Date</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for t in tasks %}
         <tr class="
            {% if t.status == 'completed' %}table-secondary
            {% elif t.overdue %}table-danger
            {% elif t.is_due_today %}table-warning
            {% endif %}
        ">
            <th scope="row">{{ t.id }}</th>
            <td>{% if t.overdue %}⚠️{% elif t.is_due_today %}⏰{% endif %}{{ t.subject }}</td>
            <td>{{ t.description }}</td>
            <td>{{ t.due_date | format_date }}</td>
            <td>
                {% if t.status == 'completed' %}
                    <span class="badge bg-secondary">Completed</span>
                {% elif t.overdue %}
                    <span class="badge bg-danger">Overdue</span>
                {% else %}
                    <span class="badge bg-primary">In progress</span>
                {% endif %}
            </td>
            <td>
                <a href="{{ url_for('edit_task', task_id=t.id) }}" class="btn btn-warning btn-sm">Edit</a>
                {% if t.status != "completed" %}
                <a href="{{ url_for('complete_task', task_id=t.id) }}" class="btn btn-success btn-sm">Mark Completed</a>
                {% endif %}
                <a href="{{ url_for('delete_task', task_id=t.id) }}" class="btn btn-danger btn-sm">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>No tasks yet.</p>
{% endif %}

{% endblock %}